/* Reset and base styles  */
* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  background: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
/* /////////////////////////////////content///////////////////// */

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../font/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("InterBlack"), url("../font/Inter-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("InterMedium"), url("../font/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("InterRegular"), url("../font/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-color-white: #ffffff;
  --main-color-black: #000000;
  --main-color-grey: #a3a3a3;
  --main-color-red: #f50e30;
}
/* var(--main-color-red); */
body {
  background-color: var(--main-color-white);
  overflow-x: hidden;
}

.header {
  display: flex;
  margin: 28px auto 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
}

.header__logo {
  width: 60px;
}

.header__list {
  display: flex;
  flex-wrap: nowrap;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-left: 170px;
}
.header__link {
  color: var(--main-color-black);
}

.header__item {
  margin-right: 40px;
}

.header__item:hover {
  text-decoration: underline;
}
.header__item:last-child {
  margin-right: 0;
}

.header__address {
  display: flex;
  align-items: center;
}

.header__social-list {
  display: flex;
  flex-direction: row;
  width: 120px;
  padding-left: 5px;
}

.header__social-icon {
  margin-right: 12px;
}
.header__social-icon:hover {
  /* background-color: #fff;  */
  transform: scale(1.1);
}
.header__social-icon:last-child {
  margin-right: 0;
}

.header__social-telegram {
  display: block;
  background-image: url("../images/Vertical container.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}

.header__social-whatsapp {
  display: block;
  background-image: url("../images/Vertical container Vsap.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}

.header__social-youtube {
  display: block;
  background-image: url("../images/Vertical containe yotbe.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__tel {
  display: flex;
  flex-direction: column;
  padding-left: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: var(--main-color-black);
}
a {
  color: var(--main-color-black);
}
.tel:hover {
  text-decoration: underline;
}
.hero {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 114px;
  position: relative;
}

.hero::before {
  background-image: url("../images/Image avto.png");
  content: "";
  width: 816px;
  height: 417px;
  position: absolute;
  right: -124px;
  top: 120px;
}

.hero__title {
  max-width: 672px;
  font-size: 52px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero__content {
  max-width: 600px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 44px;
}

.big-text {
  text-transform: uppercase;
}

.hero__button {
  box-sizing: border-box;
  border: none;
  width: 312px;
  height: 64px;
  border-radius: 8px;
  background-color: var(--main-color-red);
  color: var(--main-color-white);
  font-size: 24px;
  font-family: "inter", sans-serif;
  font-weight: 700;
  padding: 18px 54px;
}
/* /////////////////////карточки////////////// */
.card__content {
  margin: 0 auto;
  position: relative;
  /* width: 1919px; */
  min-height: 800px;
}
.card__title {
  margin: 0 auto;
  padding-top: 113px;
  max-width: 1014px;
  font-size: 44px;
  line-height: 54px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 800;
  /* margin-bottom: 20px;  */
  text-align: center;
  color: var(--main-color-black);
}
.card__offer {
  margin: 40px;
  font-family: "Inter" Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--main-color-black);
}
.card__button {
  display: flex;
  margin: 0 auto;
  padding: 14px 40px 14px 40px;
  box-sizing: border-box;
  border: none;
  width: 235px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--main-color-red);
  color: var(--main-color-white);
  font-size: 20px;
  font-family: "inter" Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.card__section {
  display: flex;
  /* flex-direction: norow; */
  /* margin: 0 auto; */
  margin-top: 40px;
  justify-content: center;
}

.card__shoose {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 409px;
  /* height: 264px; */
  /* width: 33.33%; */
  margin: 0 20px;
  background: var(--main-color-white);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  cursor: pointer;
}

.card__button:hover {
  background-color: #c73713;
}
.hero__button:hover {
  background-color: #c73713;
}
.card__name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--main-color-black);
  padding-left: 37px;
  padding-top: 21px;
}
.card__text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.8);
  padding: 24px 78px 91px 32px;
}

.img_1::before {
  background-image: url("../images/Image mers.png");
  content: "";
  background-repeat: no-repeat;
  width: 95px;
  height: 85px;
  position: absolute;
  right: 30px;
  top: 160px;
}
.img_2::before {
  background-image: url("../images/Image avtored.png");
  content: "";
  background-repeat: no-repeat;
  width: 225px;
  height: 120px;
  position: absolute;
  right: 10px;
  top: 140px;
}
.img_3::before {
  background-image: url("../images/Imagecrivay.png");
  content: "";
  background-repeat: no-repeat;
  width: 225px;
  height: 130px;
  position: absolute;
  right: 10px;
  top: 120px;
}
/* //////////////////schop/////////////////////// */

.shop {
  height: 1091px;
}
.shop__wrap {
  margin: 0 auto;
  width: 1280px;
}
.shop__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 54px;
  color: #000000;
  /* margin-left: 320px; */
  margin-bottom: 20px;
}
.shop__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  /* margin-left: 320px; */
}
.shop__content-card {
  height: 1091px;
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 24px;
  overflow: auto;
}
.shop__card {
  display: flex;
  width: 411px;
  flex-wrap: wrap;
  height: 721px;
  gap: 20px;
  /* justify-content: center; */
  margin-top: 20px;
  background: var(--main-color-white);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 20px 24px 20px 24px;
}
.shop_img {
  width: 363px;
  height: 261px;
  margin: 0 auto;
}
.avto-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  color: #000000;
  /* margin: 0px 0 0 24px; */
  /* border: 2px solid red; */
  height: 30px;
}
.text-price {
  width: 100%;
}
.card-txt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  /* margin: 24px 0 0 24px; */
  color: rgba(0, 0, 0, 0.5);
  order: 0;
  white-space: nowrap;
}
.card-mean {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #000000;
  margin: 24px 24px 0 0;
  order: 2;
  white-space: nowrap;
}
.shop__strit {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  margin-top: -12px;
}
.shop__strit::before {
  display: block;
  content: "";
  width: 202px;
  height: 0px;
  padding-top: 47px;
  border-bottom: 2px dashed #c1c1c1;
  order: 1;
  flex-grow: 0;
}
.shop__price {
  display: flex;
  justify-content: space-between;
  /* padding: 0 24px 0 24px; */
  margin-top: 24px;
}
.text-prim {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 173px;
  display: flex;
}
.price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}
.now-price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  color: var(--main-color-red);
}
.shop__button {
  box-sizing: border-box;
  border: none;
  width: 363px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--main-color-red);
  color: var(--main-color-white);
  font-size: 24px;
  font-family: "inter", sans-serif;
  font-weight: 700;
  padding: 14px 0px 14px 90px;
  margin: 0 auto;
}
.shop__button:hover {
  background-color: #c73713;
}

/* Switch container */

position: absolute;
width: 63px;
height: 63px;
left: 267px;
top: 571px;

/* Text input container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 316px;
height: 4px;
left: 801px;
top: 987px;

/* //////////////////////////              //////////////////////// */
