@use "./variables" as v;
@use "./mixins" as m;

.reviws {
    background-color: v.$main-color-background;
}

.reviws__wrap {
    margin: 0 auto;
}

.reviws__title {
    margin-bottom: 40px;
    padding-top: 100px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.4px;
    @include m.font44-title;
}

.reviws__content {
    position: relative;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.reviws__button-pref {
    position: absolute;
    top: 49%;
    left: calc(50% - 690px);
    transform: translateY(-50%);
    background-image: url("../images/pref.png");
    @include m.button-circle;
}

.reviws__button-next {
    position: absolute;
    top: 50%;
    left: calc(50% + 630px);
    transform: translateY(-50%);
    background-image: url("../images/next.png");
    background-repeat: no-repeat;
    background-position: center center;
    @include m.button-circle;
}

.reviws__button-yotube {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 60px;
    border: none;
    border-radius: 25%;
    background-image: url("../images/yotube1.png");
    background-repeat: no-repeat;
    background-position: center center;
    color: v.$main-color-white;
    box-sizing: border-box;
}

.reviws__button-yotube:hover,
.reviws__button-pref:hover,
.reviws__button-next:hover {
    background-color: v.$main-color-hover-red;
}

.reviws__picture {
    display: flex;
    flex: 1;
}

.reviws__img1 {
    max-width: 537px;
    padding-top: 55px;
    object-fit: cover;
    object-position: center;
}

.reviws__img2 {
    max-width: 737px;
    max-height: 460px;
    object-fit: contain;
}

.reviws__info {
    padding-right: 130px;
    padding-top: 18px;
    padding-bottom: 28px;
    font-family: v.$font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: v.$main-color-black;
    text-align: center;
}

.reviws__text {
    width: 1280px;
    display: flex;
    gap: 77px;
    margin: 0 auto;
    padding-top: 100px;
}

.reviws__img3 {
    max-width: 612px;
    max-height: 357px;
    margin-bottom: 100px;
}

.reviws__text-info {
    margin-bottom: 40px;
    padding-top: 57px;
    font-family: v.$font-inter;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: v.$main-color-black;
    text-align: left;
}

.reviws__buttom {
    display: inline-block;
    width: 248px;
    padding: 16px 30px;
    font-family: v.$font-inter;
    font-weight: 700;
    font-size: 18px;
}

.reviws__buttom:hover {
    background-color: v.$main-color-hover-red;
}

.reviws__pic {
    padding-bottom: 100px;
}

.reviws__carousel {
    display: flex;
    gap: 8px;
    justify-content: center;
}