  $main-color-white: #ffffff;
  $main-color-black: #000000;
  $main-color-grey: #a3a3a3;
  $main-color-red: #f50e30;
  $main-color-hover-red: #c73713;  
  $main-color-background: #F4F6F8;
  $font-inter: "Inter", sans-serif;